# --- DATABASE ---
DB_URL=jdbc:mysql://mysqldb:3306/recruitment?useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=123456

# --- REDIS ---
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_SSL_ENABLED=false

# --- MAIL ---
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_app_password

# --- RABBITMQ ---
SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_VIRTUAL_HOST=/
SPRING_RABBITMQ_SSL_ENABLED=false
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin123

# --- GEMINI ---
GEMINI_API_KEY=your_gemini_api_key
GEMINI_MODEL=gemini-3.5-flash-lite

# --- JWT ---
JWT_SECRET=your_base64_jwt_secret

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
